@using ECommerceWebsite.Models.ViewModals
@model EventIndexViewModel


@{
    ViewData["Title"] = "Events Index";
    Layout = "_contantLayout";
}
<style>
    .single-products-catagory {
        height: 300px; /* Adjust the height as needed */
        overflow: hidden; /* Ensure that content overflow is hidden */
        position: relative;
    }

        .single-products-catagory img {
            width: 100%;
            height: 100%;
            object-fit: cover; /* Ensures the image covers the container while maintaining aspect ratio */
        }

    .hover-content {
        position: absolute;
        bottom: 0;
        width: 100%;
        color: white;
        text-align: center;
        padding: 10px;
    }
</style>




<!-- Product Catagories Area Start -->
<div class="products-catagories-area clearfix">
    <div class="amado-pro-catagory clearfix">
        @foreach (var ev in Model.Events)
        {
            <!-- Single Catagory -->
            <a asp-action="Details" asp-route-id="@ev.ProductID">
                <div class="single-products-catagory clearfix">
                        <img src="@Url.Content("~/images/eventsImages/" + ev.ProductImage)" class="card-img-top" alt="@ev.ProductName" />
                        <!-- Hover Content -->
                        <div class="hover-content">
                        <div style="background-color:#331391" class="line"></div>
                        <p style="color:antiquewhite;text-align:left">@ev.Price</p>
                        <h4 style="color:antiquewhite; text-align:left"> @ev.ProductName</h4>
                        </div>

                </div>
            </a>
        }

    </div>
</div>



