@using ECommerceWebsite.Models.ViewModals
@model EventIndexViewModel


@{
    ViewData["Title"] = "Events Index";
    Layout = "_contantLayout";
}

@*
<form method="get" action="/eventPage/Index">
    <div class="form-group">
        <label for="categoryFilter">Filter by Category:</label>
        <select id="categoryFilter" name="id" class="form-control mt-3">
            <option value="@null">All</option>
            @foreach (var vn in Model.EventCategories)
            {
                <option value="@vn.CategoryID">@vn.CategoryName</option>
            }
        </select>
    </div>
    <button type="submit" class="btn btn-primary my-3">Apply Filter</button>
</form>


<h2>Events</h2>
<div class="row">
    @foreach (var ev in Model.Events)
    {
        <div class="col-md-4">
            <div class="card mb-4">
                <img src="@Url.Content("~/images/eventsImages/" + ev.ProductImage)" class="card-img-top" alt="@ev.ProductName" />
                <div class="card-body">
                    <h5 class="card-title">@ev.ProductName</h5>
                    <p class="card-text">@ev.ProductDescription</p>
                    <p class="card-text">Price: @ev.Price</p>
                    <p class="card-text">Discount: @ev.Discount</p>
                    <p class="card-text">Location: @ev.Location</p>
                    <p class="card-text">Event Date: @ev.EventDate.ToString("d MMM yyyy")</p>
                    <!-- Add more event details as needed -->
                </div>
            </div>
        </div>
    }
</div> *@



<!-- Product Catagories Area Start -->
<div class="products-catagories-area clearfix">
    <div class="amado-pro-catagory clearfix">
        @foreach (var ev in Model.Events)
        {
            <!-- Single Catagory -->
            <a asp-action="Details" asp-route-id="@ev.ProductID">
                <div class="single-products-catagory clearfix">
                        <img src="@Url.Content("~/images/eventsImages/" + ev.ProductImage)" class="card-img-top" alt="@ev.ProductName" />
                        <!-- Hover Content -->
                        <div class="hover-content">
                            <div class="line"></div>
                            <p>@ev.Price</p>
                        <h4 > @ev.ProductName</h4>
                        </div>
                </div>
            </a>
        }

    </div>
</div>



